apiVersion: batch/v1
kind: Job
metadata:
  name: opm-flow-simulation
spec:
  template:
    spec:
      containers:
        - name: opm-flow
          resources:
            requests:
              cpu: "500m"
              memory: "1Gi"
            limits:
              cpu: "2"
              memory: "4Gi"
