apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namePrefix: dev-

patches:
  - path: patches/resource-limits.yaml

commonLabels:
  environment: development
